<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VAQA</title>
</head>
<body>
	<div class="main-menu">
		<div class="upper-menu">
			<div class="first-um">
				<div class="menu"><i class="fa-solid fa-bars"></i></div>
				<div class="logo">
					<h1><a href="#">Find.az</a></h1>
				</div>
			</div>
			<div class="nav">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Devices</a></li>
					<li><a href="#">Delivery & Payment</a></li>
					<li><a href="#">Guarantee</a></li>
					<li><a href="#">About us</a></li>
				</ul>
			</div>
			<div class="second-um">
				<div class="cart">
					<a href="">
						<div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
						<p>CART</p>
						<span class="numb"></span>
					</a>
				</div>
				<div class="singin">
					<a href="#">
						<p>SIGN IN</p>
					</a>
				</div>
			</div>
		</div>
		<div class="button-menu">
			<div class="left-bm">
				<ul>
					<li>TOP SALES</li>
					<li>BRAND-FOCUS</li>
					<li>HI-TECH</li>
					<li>BEST SELLERS</li>
					<li>PROJECTS</li>
				</ul>
			</div>
			<div class="right-bm">
				<p>SUPPORT</p>
				<div class="icon2">o</div>
				<input type="text" border placeholder="I'm looking for..">
			</div>
		</div>
	</div>
	<div class="banner">
		<pre>N - NISE
C - COOL
S - SEXY</pre>
	</div>
	<div class="sort">
		<div class="first-s">
			<h4>SORT BY:</h4> 
			<select>
			  <option>cost up</option>
			  <option>cost down</option>
			</select>
		</div>
		<div class="second-s">
			<div class="lsecond-s">
				<h4>keywords</h4>
				<input type="text" placeholder="Tablet">
			</div>
			<div class="rsecond-s">
				<h4>price</h4>
				<input type="text" placeholder="10">
				<h4>-</h4>
				<input type="text" placeholder="1000">
			</div>
		</div>
		<div class="third-s">
			<h4>ship to</h4>
			<select>
			  <option>az</option>
			  <option>use</option>
			  <option>rub</option>
			</select>
		</div>
	</div>
	<div class="filter">
		<div class="first-filter">
			<ul>
				<li>Top Sales</li>
				<li>Brand Focus</li>
				<li>Hi-Tech</li>
				<li>Home</li>
				<li>Sale</li>
			</ul>
		</div>
		<div class="second-filter"></div>
		<div class="third-filter"></div>
		<div class="fourth-filter"></div>
	</div>
</body>
</html>