<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>VAQA</title>
</head>
<body>
	<div class="main-menu">
		<div class="upper-menu">
			<div class="first-um">
				<div class="menu"><i class="fa-solid fa-bars"></i></div>
				<div class="logo">
					<h1><a href="#">Find.az</a></h1>
				</div>
			</div>
			<div class="nav">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Devices</a></li>
					<li><a href="#">Delivery & Payment</a></li>
					<li><a href="#">Guarantee</a></li>
					<li><a href="#">About us</a></li>
				</ul>
			</div>
			<div class="second-um">
				<div class="cart">
					<a href="">
						<div class="icon"><i class="fa-solid fa-cart-shopping"></i></div>
						<p>CART</p>
						<span class="numb"></span>
					</a>
				</div>
				<div class="singin">
					<a href="#">
						<p>SIGN IN</p>
					</a>
				</div>
			</div>
		</div>
		<div class="button-menu">
			<div class="left-bm">
				<ul>
					<li>TOP SALES</li>
					<li>BRAND-FOCUS</li>
					<li>HI-TECH</li>
					<li>BEST SELLERS</li>
					<li>PROJECTS</li>
				</ul>
			</div>
			<div class="right-bm">
				<p>SUPPORT</p>
				<div class="icon2"><i class="fas fa-search"></i></div>
				<input type="text" placeholder="I'm looking for..">
			</div>
		</div>
	</div>
	<div class="banner">
		<pre>N - NISE
C - COOL
</pre>
	</div>
	<div class="sort">
		<div class="first-s">
			<h4>SORT BY:</h4> 
			<select>
			  <option>cost up</option>
			  <option>cost down</option>
			</select>
		</div>
		<div class="second-s">
			<div class="lsecond-s">
				<h4>keywords</h4>
				<input type="text" placeholder="Tablet">
			</div>
			<div class="rsecond-s">
				<h4>price</h4>
				<input type="text" placeholder="10">
				<h4>-</h4>
				<input type="text" placeholder="1000">
			</div>
		</div>
		<div class="third-s">
			<h4>ship to</h4>
			<select>
			  <option>az</option>
			  <option>use</option>
			  <option>rub</option>
			</select>
		</div>
	</div>
	<main>
		<div class="filter">
			<div class="first-filter">
				<ul>
					<li onmouseenter="showfilter()">
						<div class="top-filter">
							<p>
							Top Sales
							</p>
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<ul class="sub-filter">
							<li>cell phones</li>
							<li>cameras</li>
							<li>Computers</li>
							<li>tv, audio</li>
							<li>Video games</li>
						</ul>
					</li>
					<li onmouseenter="showfilter()">
						<div class="top-filter">
							<p>
							Brand Focus
							</p>
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<ul class="sub-filter">
							<li>cell phones</li>
							<li>cameras</li>
							<li>Computers</li>
							<li>tv, audio</li>
							<li>Video games</li>
						</ul>
					</li>
					<li onmouseenter="showfilter()">
						<div class="top-filter">
							<p>
							Hi-Tech
							</p>
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<ul class="sub-filter">
							<li>cell phones</li>
							<li>cameras</li>
							<li>Computers</li>
							<li>tv, audio</li>
							<li>Video games</li>
						</ul>
</li>
					<li onmouseenter="showfilter()">
						<div class="top-filter">
							<p>
							Home
							</p>
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<ul class="sub-filter">
							<li>cell phones</li>
							<li>cameras</li>
							<li>Computers</li>
							<li>tv, audio</li>
							<li>Video games</li>
						</ul>
					</li>
					<li onmouseenter="showfilter()">
						<div class="top-filter">
							<p>
							Sale
							</p>
							<i class="fa-solid fa-angle-down"></i>
						</div>
						<ul class="sub-filter">
							<li>cell phones</li>
							<li>cameras</li>
							<li>Computers</li>
							<li>tv, audio</li>
							<li>Video games</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="second-filter">
				<ul>
					<li class="border"><p>Available</p></li>
					<li><p><input type="radio">In Srotage</p><p class="num">45</p></li>
					<li><p><input type="radio">In Online-Shop</p><p class="num">12</p></li>
					<li class="border"><p>Brands</p><p>All</p></li>
					<li><p><input type="checkbox" name="">Apple</p><p class="num">32</p></li>
					<li><p><input type="checkbox" name="">JBL</p><p class="num">14</p></li>
					<li><p><input type="checkbox" name="">Bose</p><p class="num">3</p></li>
					<li><p><input type="checkbox" name="">Nest</p><p class="num">5</p></li>
					

				</ul>
			</div>
			<div class="third-filter">
				<li class="border"><p>Condition</p><p>SEE ALL</p></li>
				<li><p><input type="checkbox">New</p></li>
				<li><p><input type="checkbox">Manufacturer Refurbished</p></li>
				<li><p><input type="checkbox">Seller Refurbished</p></li>
				<li><p><input type="checkbox">Used</p></li>
				<li><p><input type="checkbox">For Parts or now Workimg</p></li>
				
			</div>
			<div class="fourth-filter">
				<ul>
					<li class="border"><p>Delivery options</p></li>
					<li class="libox"><p><input type="checkbox" name="">free</p><p><input type="checkbox" name="">$5</p></li>
				</ul>
			</div>
		</div>
		<div class="tovari">
			<div class="tovar">
				<div class="img">
					<img src="https://my-apple-store.ru/wa-data/public/shop/products/38/17/11738/images/17257/17257.750.jpg" alt="">
				</div>
				<h5>Iphone 13 Pro max</h5>
				<p>Grey</p>
				<h3>$39.99</h3>
			</div>
			<div class="tovar">
				<div class="img">
					<img src="https://my-apple-store.ru/wa-data/public/shop/products/38/17/11738/images/17257/17257.750.jpg" alt="">
				</div>
				<h5>Iphone 13 Pro max</h5>
				<p>Grey</p>
				<h3>$39.99</h3>
			</div>

			<div class="tovar">
				<div class="img">
					<img src="" alt="">
				</div>
				<h5></h5>
				<p></p>
				<h3></h3>
			</div>
			
			<div class="tovar">
				<div class="img">
					<img src="" alt="">
				</div>
				<h5></h5>
				<p></p>
				<h3></h3>
			</div>
		</div>
	</main>



	<script type="text/javascript" src="script.js"></script>
</body>
</html>