{% extends "mainpage/layout.html" %}


{% block title %}Интернет магазин Vaga{% endblock %}


{% block content %}
	<div class="slayder">
		Реклама༼ つ ◕_◕ ༽つ
	</div>
	<div class="content">
		<main>
			<div class="razdel-razdela">
				<h2>Компьютеры и комплектующие AMD</h2>
				<div class="razdel-razdel-tovari">
					<div class="razdel-razdel-tovar">
						<a href=""><div class="img">
							<img src="//avatars.mds.yandex.net/get-mpic/4863739/img_id1033652475790679601.jpeg/6hq" alt="">
						</div>
						<h4 class="razdel-razdel-name">Процессоры</h4></a>
					</div>
					<div class="razdel-razdel-tovar">
						<a href="">
							<div class="img">
								<img src="//avatars.mds.yandex.net/get-mpic/5221216/img_id8437209640242141387.png/6hq" alt="">
							</div>
							<h4 class="razdel-razdel-name">Видеокарты</h4>
						</a>
					</div>
					<div class="razdel-razdel-tovar">
						<a href="">
							<div class="img">
								<img src="//avatars.mds.yandex.net/get-mpic/5238069/img_id7255924591324706273.png/6hq" alt="">
							</div>
							<h4 class="razdel-razdel-name">Ноутбуки</h4>
						</a>
					</div>
					<div class="razdel-razdel-tovar">
						<a href="">
							<div class="img">
								<img src="//avatars.mds.yandex.net/get-mpic/5189780/img_id6797856818417383639.jpeg/6hq" alt="">
							</div>
							<h4 class="razdel-razdel-name">Настольные Компьютеры</h4>
						</a>
					</div>
					<div class="razdel-razdel-tovar">
						<a href="">
							<div class="img">
								<img src="//avatars.mds.yandex.net/get-mpic/5323566/img_id8439794487583411006.jpeg/6hq" alt="">
							</div>
							<h4 class="razdel-razdel-name">Модули памяти</h4>
						</a>
					</div>
					<div class="razdel-razdel-tovar">
						<a href="">
							<div class="img">
								<img src="//avatars.mds.yandex.net/get-mpic/3611742/img_id1595024900377057147.png/6hq" alt="">
							</div>
							<h4 class="razdel-razdel-name">Внутренние твердотельные</h4>
						</a>
					</div>
				</div>
			</div>
			<div class="qlavniye-tovari">

			<div class="name-razdela-tovarov">Киберспорт</div>
			<div class="ryad-tovarov">
				<button onclick="moveqlavniytovarright()" class="p-slayder-tovarov"><i class="fas fa-angle-left"></i></button>

				<div class="slayd-tovarov">
					<div class="slayd">
						{% if items %}
							{% for item in items %}
								<div class="qlavniy-tovar">
									<a href="">
										<div class="izbranniy-tovar"><i class="fa-solid fa-heart"></i></div>
										<div class="qlavniy-tovar-img"><img src="" alt=""></div>
										<div class="chena">	{{ item.item_price }}₼</div>
										<div class="reyting">
											<div class="zvezda">звезды</div>
											<div class="chislo-ochenik">50</div>
										</div>
										<div class="tovar-name">{{ item.item_name }}</div>
										<div class="rekomenduyemost">86% рекомендуют</div>
									</a>
									<div class="button"><button>В корзину</button></div>
								</div>
							{% endfor %}
						{% else %}
							<div style="margin: 400px;font-size: 1.5em;">
								Товаров пока что нет(
							</div>
						{% endif %}
					</div>
				</div>
				<button onclick="moveqlavniytovarleft()" class="v-slayder-tovarov"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
		</main>
		<div class="reklami">
			<div class="reklama">
				Реклама <br>༼ つ ◕_◕ ༽つ
			</div>
			<div class="reklama">
				Реклама <br>༼ つ ◕_◕ ༽つ
			</div>
		</div>
	</div>
{% endblock %}