{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'mainpage/img/icon-of-site.png' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FindAz - Entry</title>
</head>
<body class="voyti-body">
    <header class="voyti-header">
    </header>
    <main class="main-of-voyti">
        <div class="voyti-content">
            <div class="voyti-login-signup">
                <div class="voyli-login-words">
                    <h3>LOG IN</h3>
                    <h3>SIGN UP</h3>
                </div>
            </div>
            <div class="voyti-krujok">
                <div class="krujok" onclick="movingofregist()" style="animation-name: voytimoveleft">
                </div>
            </div>

            <div class="main-voyti-content">

                <div class="log-in">
                    <h4>Войти</h4>
                    <form method="post" class="log-in-label">
                        <input type="text" placeholder="Log in">
                     <i class="fas fa-at"></i>
                        <input type="password" placeholder="password">
                        <i class="fas fa-unlock"></i>
                        <p><a href="#">Забыл пароль</a></p>
                        <input type="button" value="Войти" >
                    </form>
                </div>
                <div class="sign-up">
                    <h4>Зарегистрироваться</h4>
                    <form method="post" class="sign-up-label">
<!--                        <input type="text" placeholder="Your Full Name">-->
<!--                        <i class="fas fa-user"></i>-->
<!--                        <input type="text" placeholder="Log in">-->
<!--                        <i class="fas fa-at"></i>-->
<!--                        <input type="password" placeholder="password">-->
<!--                        <i class="fas fa-unlock"></i>-->
<!--                        <input type="date">-->
<!--                        <i class="fas fa-calendar-alt"></i>-->
<!--                        <input type="button" value="Войти">-->

                        {% csrf_token %}

                        {{ form.username }}
                        <i class="fas fa-user"></i>
                        {{ form.email }}
                        <i class="fas fa-at"></i>
                        {{ form.password1 }}
                        <i class="fas fa-unlock"></i>
                        {{ form.password2 }}
                        <i class="fas fa-unlock"></i>

                        <button type="submit">Sign Up</button>

                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer class="voyti-footer">
    </footer>
    <script src="{% static 'mainpage/js/script.js' %}"></script>
</body>
</html>