{% extends 'homepage/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="preloader">
		<div class="loading-spinner"></div>
	</div>

    <div class="filter-content">
        <h2>{{ tovari.0.podpodcat.name }}</h2>
        <div class="filter-and-content">
            <div class="filter-filter">
                <div class="ilter-chena">
                    <p>Цена</p>
                    <label>
                        <input type="number">
                        <input type="number">
                    </label>
                </div>
                <div class="filter-proizvodstvo">
                    <p>Производитель</p>
                    <div>
                        <label>
                            <input type="checkbox"><span>xiaomi</span>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">xiaomi
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">xiaomi
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">xiaomi
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">xiaomi
                        </label>
                    </div>
                </div>
                <div class="filter-sostoyanie">
                    <p>Состояние</p>
                    <div>
                        <label>
                            <input type="checkbox">Новый
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Б/у
                        </label>
                    </div>
                </div>
                <div class="filter-sostoyanie-tovara">
                    <p>Состояние товара</p>
                    <div>
                        <label>
                            <input type="checkbox">Идеальное
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Отличное
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Хорошее
                        </label>
                    </div>
                </div>
                <div class="filter-lineyka">
                    <p>Линейка</p>
                    <div>
                        <label>
                            <input type="checkbox">Galaxy A
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">iphone 13
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Iphone 15
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Redmi
                        </label>
                    </div>
                </div>
                <div class="filter-platforma">
                    <p>Платформа</p>
                    <div>
                        <label>
                            <input type="checkbox">Android
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">IOS
                        </label>
                    </div>
                </div>
                <div class="filter-diaqonal-ekrana">
                    <p>Диагональ экрана</p>
                    <div>
                        <label>
                            <input type="checkbox">до 3,4''
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">3,5-4,9
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">5,0-5,4
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">5,5-5,9
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">6,0-6,4
                        </label>
                    </div>
                </div>
                <div class="filter-diaqonal-ekrana-tochno">
                    <input type="number">
                    <input type="number">
                </div>
                <div class="filter-format-razresheniye-ekrana">
                    <p>Формат разрешения экрана</p>
                    <div>
                        <label>
                            <input type="checkbox">2R
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Full hd
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">HD
                        </label>
                    </div>
                </div>
                <div class="filter-razresheniye-ekrana">
                    <p>Разрешение экрана</p>
                    <div>
                        <label>
                            <input type="checkbox"> 320x240
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">1440x720
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">1600x720
                        </label>
                    </div>
                </div>
                <div class="filter-chastota-obnov-ekrana">
                    <p>Частота обновления экрана</p>
                    <div>
                        <label>
                            <input type="checkbox"> 60Гц
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">90Гц
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">120Гц
                        </label>
                    </div>
                </div>
                <div class="filter-operativ-pamyat">
                    <p>Оперативная память</p>
                    <div>
                        <label>
                            <input type="checkbox"> 2Гб
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">3Гб
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">10Гб
                        </label>
                    </div>
                </div>
                <div class="filter-besprovod-interfeysi">
                    <p>Беспроводные интерфейсы</p>
                    <div>
                        <label>
                            <input type="checkbox"> Bluetooth
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">NFC
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Fi-Wi
                        </label>
                    </div>
                </div>
                <div class="filter-standart-svyazi">
                    <p>Частота обновления экрана</p>
                    <div>
                        <label>
                            <input type="checkbox"> 2g
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">3g
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">5g
                        </label>
                    </div>
                </div>
                <div class="filter-razresheniye-osnov-kameri">
                    <p>Разрешение основной камеры</p>
                    <div>
                        <label>
                            <input type="checkbox"> до 5Мпикс
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">10 Мпикс
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">13 Мпикс
                        </label>
                    </div>
                </div>
                <div class="filter-kolvo-osnov-kamer">
                    <p>Количество основных камер</p>
                    <div>
                        <label>
                            <input type="checkbox"> 1
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">2
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">100
                        </label>
                    </div>
                </div>
                <div class="filter-kolvo-osnov-kamer-tochno">
                    <p>Разрешение фронтальной камеры, Мпикс</p>
                    <div>
                        <label>
                            <input type="number">
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="number">
                        </label>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="filter-tip-sim-karti">
                    <p>Тип SIM-карты</p>
                    <div>
                        <label>
                            <input type="checkbox"> 2x nanon Sim
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Micro Sim
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">Nano Sim
                        </label>
                    </div>
                </div>
                <div class="filter-kolvo-sim-karti">
                    <p>Количество SIM-карт</p>
                    <div>
                        <label>
                            <input type="checkbox"> 1
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">3
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">100
                        </label>
                    </div>
                </div>
                <div class="filter-emkost-akkum">
                    <p>Емкость аккумулятора</p>
                    <div>
                        <label>
                            <input type="checkbox"> 1000-1999 мА ч
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">2000-3000 мА ч
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">3000-4999 мА ч
                        </label>
                    </div>
                </div>
                <div class="filter-prochessori">
                    <p>Процессор</p>
                    <div>
                        <label>
                            <input type="checkbox">A14
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">a15
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">a20
                        </label>
                    </div>
                </div>
                <div class="filter-stepen-zashiti">
                    <p>Степень защиты</p>
                    <div>
                        <label>
                            <input type="checkbox">IP53
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">IP67
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox">IP68
                        </label>
                    </div>
                </div>
                <div class="filter-chveta">
                    <p>Цвет</p>
                    <div>
                        <label class="red">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div>
                        <label class="white">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div>
                        <label class="bleu">
                            <input type="checkbox">
                        </label>
                    </div>
                </div>
                <div class="filter-reyting-maqazina">
                    <p>Рейтинг магазина</p>
                    <div>
                        <label class="red">
                            <input type="checkbox"> от 0-2
                        </label>
                    </div>
                    <div>
                        <label class="white">
                            <input type="checkbox">от 3-4
                        </label>
                    </div>
                    <div>
                        <label class="bleu">
                            <input type="checkbox"> от4-5
                        </label>
                    </div>
                </div>
                <div class="filter-chveta">
                    <p>Цвет</p>
                    <div>
                        <label class="red">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div>
                        <label class="white">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div>
                        <label class="bleu">
                            <input type="checkbox">
                        </label>
                    </div>
                </div>

            </div>
            <div class="filter-main-content">
                <div class="filter-content-header">
                    <ul>
                        <li>По популярности</li>
                        <li>по цене</li>
                        <li>по рейтингу</li>
                        <li>по скидке</li>
                    </ul>
                </div>
                <div class="tovari">
                    {% for tovar in tovari %}
                    <div class="qlavniy-tovar">

						<div class="izbranniy-tovar">
                            {% if request.user.is_authenticated %}
                                <label for="{{ tovar.pk }}" class="{% if tovar in fav_tovari %}red{% endif %}">
                                    <i class="fa-solid fa-heart {{ tovar.pk }}"></i>
                                </label>
                                <input name="favorite" style="display: none" class='heart' type="checkbox" id="{{ tovar.pk }}">
                            {% else %}
{#                                                <a href="{% url 'login' %}">#}
                                    <i class="fa-solid fa-heart"></i>
{#                                                </a>#}
                            {% endif %}
                        </div>

						<a href="{{ tovar.get_absolute_url }}">
							<div class="qlavniy-tovar-img"><img src="{{ tovar.photo_main.url }}" alt=""></div>
							<span class="tovar-info">
                                <div class="chena">{{ tovar.price }} ₼</div>
                                <div class="reyting">
                                    <div class="zvezda">звезды</div>
                                    <div class="chislo-ochenik">50</div>
                                </div>
                                <div class="tovar-name">{{ tovar.title|truncatewords:10 }}</div>
                                <div class="rekomenduyemost">86% рекомендуют</div>
						    </span>

						</a>

						<div class="button"><button>В корзину</button></div>

					</div>
                    {% endfor %}
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

{% block js %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
		let chekboxik = document.querySelectorAll('.heart')
		chekboxik.forEach(chekbox => {
			chekbox.addEventListener('click', (event)=>{
				$(document).ready(function () {
					// отслеживаем событие отправки формы

						// создаем AJAX-вызов
					{#console.log(event.target.id)#}
						$.ajax({
							data: {
                                "favorite": event.target.id,
                            }, // получаяем данные формы
							url: "{% url 'crud_favorites' %}",
							// если успешно, то
							success: function (response) {
                                let a = event.target.parentElement.querySelector("label")

								if (response.is_favorite) {
                                    a.classList.add("red")
								}
								else {
									a.classList.remove("red")
								}
							},
							// если ошибка, то
							error: function (response) {
								// предупредим об ошибке
								console.log(response.responseJSON.errors)
							}
						});
						return false;

				})
			})
		})
        let properties = {% autoescape off %}{{ list_of_properties }}{% endautoescape %}
        for(let i of Object.keys(properties)){
            console.log(i)
        }
        let chekboxik = document.querySelectorAll('.heart')
		chekboxik.forEach(chekbox => {
			chekbox.addEventListener('click', (event)=>{
				$(document).ready(function () {
					// отслеживаем событие отправки формы

						// создаем AJAX-вызов
					{#console.log(event.target.id)#}
						$.ajax({
							data: {
                                "favorite": event.target.id,
                            }, // получаяем данные формы
							url: "{% url 'filter_of_tovar' %}",
							// если успешно, то
							success: function (response) {
                                let a = event.target.parentElement.querySelector("label")

								if (response.is_favorite) {
                                    a.classList.add("red")
								}
								else {
									a.classList.remove("red")
								}
							},
							// если ошибка, то
							error: function (response) {
								// предупредим об ошибке
								console.log(response.responseJSON.errors)
							}
						});
						return false;

				})
			})
		})
    </script>
{% endblock js %}