{% extends 'homepage/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <div class="filter-content">
        <h2>{{ tovari.0.cat.name }}</h2>
        <div class="filter-and-content">
            <div class="filter-filter">

            </div>
            <div class="filter-main-content">
                <div class="filter-content-header">
                    <ul>
                        <li>По популярности</li>
                        <li>по цене</li>
                        <li>по рейтингу</li>
                        <li>по скидке</li>
                    </ul>

                </div>

                <div class="filter-tovari">

                    {% for tovar in tovari %}

                        <div class="filter-tovar">
                        <a href="">
                            <div class="photo">
                                <div class="img"><img src="{{ tovar.photo.url }}"></div>
                            </div>
                            <div class="opisaniye">
                                <h4>{{ tovar.title|truncatewords:10 }}</h4>
                                <div class="ochenka">
                                    <div class="rating">4.8</div>
                                    <div class="otzivi">388 отзивов</div>
                                </div>
                                <div class="opisaniye-tovara">
                                    <ul>
                                        <li>{{ tovar.content|truncatewords:10 }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="prise">
                                <div class="contaner">
                                    <div class="chena">{{ tovar.price }} ₼</div>
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                        </a>
                        <div class="prise">
                            <div class="button">
                                <button>В корзину</button>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

{% endblock content %}