{% load static %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{% static 'homepage/img/icon-of-site.webp' %}">
		<link rel="stylesheet" type="text/css"  href="{% static 'homepage/css/style-new.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="manifest" href="manifest.json">
        {% block ogmeta %}{% endblock ogmeta %}
		<title>{% block title %}{% endblock title %}</title>
	</head>
	<body>
	<header class="desktop-header">
		<div class="pervaya-stupen">
			<div class="logo">
				<div class="logo-icon"></div>
				<div class="logo-text"><a href="{% url 'home' %}">Find.az</a></div>
			</div>
			<div class="poiskovoy-div">
				<div class="katalog" onclick="movekatalog()">
					<div class="katalog-icon"><i class="fa-solid fa-bars"></i></div>
					<div class="katalog-text">Каталог</div>
				</div>
				<div class="poiskovik">
					<form>
						<input type="text" placeholder="Искать товары">
						<input type="button" value="Найти">
					</form>
				</div>
			</div>
			<div class="knopochniy-div">
				<div class="zakazi">
					<a href="{% if request.user.is_authenticated %}{# url 'zakazi' #}{% else %}{% url 'login' %}{% endif %}">
						<div class="zakazi-icon"><i class="fa-solid fa-box"></i></div>
						<div class="zakazi-text">Заказы</div>
					</a>
				</div>
				<div class="izbrannoe">
					<a href="{% if request.user.is_authenticated %}{% url 'show_favorites' %}{% else %}{% url 'login' %}{% endif %}">
						<div class="izbranoe-icon"><i class="fa-solid fa-heart"></i></div>
						<div class="izbranoe-text">Избранные</div>
					</a>
				</div>
				<div class="korzina">
					<a href="{% if request.user.is_authenticated %}{# url 'korzina' #}{% else %}{% url 'login' %}{% endif %}">
						<div class="korzina-icon"><i class="fa-solid fa-basket-shopping"></i></div>
						<div class="korzina-text">Корзина</div>
					</a>
				</div>
			</div>

			{% if request.user.is_authenticated %}

				<div  class="logo-of-profile-in-mainpg">
					<div class="img">
						<img src="">
					</div>
					<div class="perexodi-iz-mainpg">
						<h4><a href="">{{ user.last_name }} {{ user.first_name }}</a></h4>
						<ul>
                            {% if user.is_seller == True %}
							    <li><a href="{{ salesman.get_absolute_url }}">Профиль</a></li>
                            {% endif %}
							<li><a href="">Настройки</a></li>
                            {% if user.is_seller == True %}
							    <li><a href="{% url 'addtovar' %}">Добавить товар</a></li>
                            {%  endif %}
                            <li><a href="{% url 'logout' %}">Выход</a></li>
						</ul>
					</div>
				</div>

			{% else %}

				<div  class="voyti">
					<a href="{% url 'login' %}">
						<div class="voyti-knopka">
							<div class="voyti-text">Войти</div>
						</div>
					</a>
				</div>

			{% endif %}

		</div>
		<div class="katalogi">
			<div class="listi-kategori">
				<ul>

					{% for c in cats %}
						{% if c.id == cats.0.id %}
							<li onmouseenter="showkatalog('{{ c.topic }}')">
								<div class="list-katalog-left ">
									<div class="list-katalog-left-icon"><i class="fas {{ c.icon }}"></i></div>
									<div class="list-katalog-left-text">{{ c.name }}</div>
								</div>
								<div class="list-katalog-right">
									<div class="list-katalog-right-icon"><i class="fa-solid fa-angle-right"></i></div>
								</div>
								<div class="list-katalog-list {{ c.topic }} show" >
									{{ c.name }}
								</div>
							</li>
						{% else %}
							<li onmouseenter="showkatalog('{{ c.topic }}')">
								<div class="list-katalog-left ">
									<div class="list-katalog-left-icon"><i class="fas {{ c.icon }}"></i></div>
									<div class="list-katalog-left-text">{{ c.name }}</div>
								</div>
								<div class="list-katalog-right">
									<div class="list-katalog-right-icon"><i class="fa-solid fa-angle-right"></i></div>
								</div>
								<div class="list-katalog-list {{ c.topic }}" >
									{{ c.name }}
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>

			</div>
			<div class="infa-list-katalogax">

			</div>
		</div>
		<div class="ftoraya-stupen">
			<div class="mesopolojeniye">
				<div class="mesopolojeniye-icon"><i class="fa-solid fa-location-dot"></i></div>
				<div class="mesopolojeniye-qorod">Баку</div>
			</div>
			<div class="top-kateqorii">
				<ul class="spisok-kateqoriy">
					<li><a href="">Дети</a></li>
					<li><a href="">Аптека</a></li>
					<li><a href="">Одежда</a></li>
					<li><a href="">Красота</a></li>
					<li><a href="">Электроника</a></li>
					<li><a href="">Бытовая техника</a></li>
					<li><a href="">Продукты</a></li>
					<li><a href="">Дом</a></li>
					<li><a href="">Цветы</a></li>
					<li><a href="">81</a></li>
				</ul>
			</div>
			<div class="priqlasheniye">Продавайте с нами</div>
		</div>
	</header>
	<header class="mobile-header">
		<div class="mobile-petviy-stupen">
			<div class="logo">
				<div class="logo-icon"></div>
				<div class="logo-text"><a href="{% url 'home' %}">Find.az</a></div>
			</div>
			<div class="right-size-of-mhead">
				<div class="poiskovoy-icon">
					<i class="fas fa-search" onclick="showpoiskovik()"></i>
				</div>
				<div class="izbrannoe">
					<a href="{% if request.user.is_authenticated %}{% url 'show_favorites' %}{% else %}{% url 'login' %}{% endif %}">
						<div class="izbranoe-icon"><i class="fa-solid fa-heart"></i></div>
						<div class="izbranoe-text">Избранные</div>
					</a>
				</div>
				<div class="korzina">
					<a href="{% if request.user.is_authenticated %}{# url 'korzina' #}{% else %}{% url 'login' %}{% endif %}">
						<div class="korzina-icon"><i class="fa-solid fa-basket-shopping"></i></div>
						<div class="korzina-text">Корзина</div>
					</a>
				</div>
				<div class="katalog" style="display:block;">
					<div class="katalog-icon"  onclick="showleftbar()"><i class="fa-solid fa-bars"></i></div>
				</div>
				<div class="close-bar katalog" onclick="showleftbar()"  style="display: none">
					<i class="fas fa-times"></i>
				</div>
			</div>
		</div>
		<div class="mobile-vtoraya-stupen">
			<div class="left-bar">
				<div class="left-bar-content">

					{% if request.user.is_authenticated %}

						<div class="mobile-logo-in-mainpg">
							<div class="logo"><img src=""></div>
							<div class="nikname"><h4>{{ user.last_name }} {{ user.first_name }}</h4></div>
						</div>

					{% else %}

						<div class="voyti" >
							<a href="{% url 'login' %}">
							<div class="voyti-knopka">
								<div class="voyti-text">Войти/Зарегистрироваться</div>
							</div>
							</a>
						</div>

					{% endif %}

					<ul>
						<li><a href="{% if user.is_seller == True %}{{ salesman.get_absolute_url }}{% else %}{% url 'login' %}{% endif %}">Профиль</a></li>
						<li><a href="{% if request.user.is_authenticated %}{# url 'nastroyki' #}{% else %}{% url 'login' %}{% endif %}">Настройки</a></li>
                        {% if user.is_seller == True %}
						    <li><a href="{% if request.user.is_authenticated %}{% url 'addtovar' %}{% else %}{% url 'login' %}{% endif %}">Добавить товар</a></li>
                        {% endif %}
						{% if request.user.is_authenticated %}
							<li><a href="{% url 'logout' %}">Выход</a></li>
						{% endif %}
					</ul>

				</div>
			</div>
			<div class="mobile-katalog-tovarov" onclick="mobileshowkatalog()">
				<p>Каталог товаров</p> <i class="fa-solid fa-angle-down"></i>
			</div>
			<div class="mobile-poiskovik">
				<div class="poiskovik">
					<form>
						<input type="text" placeholder="Искать товары">
						<button type="button">Найти</button>
					</form>
				</div>
			</div>
		</div>
		<div class="mobile-list-katalog-tovarov showmlk">
			<ul style="left: 0">

				{% for c in cats %}
					<li onclick="showpraviykatalog('mobil-{{ c.topic }}')">
						<div class="mobile-list-katalog-left ">
							<div class="mobile-list-katalog-left-icon"><i class="fas {{ c.icon }}"></i></div>
							<div class="mobile-list-katalog-left-text">{{ c.name }}</div>
						</div>
						<div class="mobile-list-katalog-right">
							<div class="mobile-list-katalog-right-icon"><i class="fa-solid fa-angle-right"></i></div>
						</div>
					</li>
				{% endfor %}
			</ul>

			{% for c in cats %}
				<div class="praviy-katalog mobil-{{ c.topic }}">
					<div class="mobil-list-kataloga">
						<div class="nazad" onclick="backtokatalog('mobil-{{ c.topic }}')"><div class="nazad-icon"><i class="fas fa-angle-left"></i></div><p>Назад</p></div>
						<h3>{{ c.name }}</h3>
					</div>
				</div>
			{% endfor %}
		</div>

	</header>

	{% block content %}
	{% endblock content %}

    <footer>
		<div class="content">
			<div class="left box">
				<div class="upper">
					<div class="topic">About us</div>
					<p>CodingLab is a channel where you can learn HTML,
						CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
				</div>
				<div class="footer-social-link">
				<h3>Follow us</h3>
				<ul>
					<li>
						<a href="#">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-google-plus"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
				</ul>
			</div>
			</div>
			<div class="middle box">
				<div class="topic">Our Services</div>
				<div><a href="#">Web Design, Development</a></div>
				<div><a href="#">Web UX Design, Reasearch</a></div>
				<div><a href="#">Web User Interface Design</a></div>
				<div><a href="#">Theme Development, Design</a></div>
				<div><a href="#">Mobile Application Design</a></div>
				<div><a href="#">Wire raming & Prototyping</a></div>
			</div>
			<div class="right box">

				<div class="topic">Contact us</div>
				<div class="phone">
					<a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
				</div>
				<div class="email">
					<a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
				</div>
			</div>
		</div>
		<div class="bottom">
			<p>Copyright © 2020 <a href="#">CodingLab</a> All rights reserved</p>
		</div>
	</footer>

	<script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'homepage/js/script.js' %}"></script>

    {% block js %}
    {% endblock js %}

</body>
</html>