{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'homepage/css/style-new.css' %}">
    <link rel="icon" href="{% static 'homepage/img/icon-of-site.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cb2bc27fe.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body class="voyti-body">
<header class="voyti-header">
    <div class="logo">
        <div class="logo-icon"></div>
        <div class="logo-text"><a href="{% url 'home' %}">Find.az</a></div>
    </div>
</header>
<main class="main-of-voyti">
    <div class="voyti-content">
        <div class="main-voyti-content">
            <div class="sign-up">
                <h4>Зарегистрироваться</h4>
                <form method="post" class="sign-up-label">
                    {% csrf_token %}

                    <div>{{ form.non_field_errors }}</div>

                    {{ form.username }}
                    <i id="username-logo" class="fas fa-user"></i>
                    <div  id="error-of-username">{{ form.username.errors }}</div>

                    {{ form.email }}
                    <i class="fas fa-at"></i>
                    <div id="error-of-email">{{ form.email.errors }}</div>

                    {{ form.password1 }}
                    <i class="fas fa-unlock"></i>
                    <div>{{ form.password1.errors }}</div>

                    {{ form.password2 }}
                    <i class="fas fa-unlock"></i>
                    <div>{{ form.password2.errors }}</div>

                    <input type="submit" value="Sign Up">
                    <p>
                        Есть аккаунта? <a href="{% url 'login' %}">Войти</a></p>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="voyti-footer">
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'homepage/js/script.js' %}"></script>
<script>
    $(document).ready(function () {
        // отслеживаем событие отправки формы
        $('#id_username').focusout(function () {
            // создаем AJAX-вызов
            $.ajax({
                data: $(this).serialize(), // получаяем данные формы
                url: "{% url 'validate_username' %}",
                // если успешно, то
                success: function (response) {
                    console.log(response)
                    if (response.is_taken == true) {
                        $('#id_username').removeClass('is-valid').addClass('is-invalid');
                        $('#usernameError').remove();
                        $('#error-of-username').append('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                    }
                    else {
                        // $('#id_username').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();
                    }

                },
                // если ошибка, то
                error: function (response) {
                    // предупредим об ошибке
                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
    })
    $(document).ready(function () {
        // отслеживаем событие отправки формы
        $('#id_email').focusout(function () {
            // создаем AJAX-вызов
            $.ajax({
                data: $(this).serialize(), // получаяем данные формы
                url: "{% url 'validate_username' %}",
                // если успешно, то
                success: function (response) {
                    console.log(response)
                    if (response.is_email == true) {
                        $('#id_email').removeClass('is-valid').addClass('is-invalid');
                        $('#emailError').remove();
                        $('#error-of-email').append('<div class="invalid-feedback d-block" id="emailError">This email is not available!</div>')
                    }
                    else {
                            // $('#id_username').removeClass('is-invalid').addClass('is-valid');
                        $('#emailError').remove();
                    }

                },
                // если ошибка, то
                error: function (response) {
                    // предупредим об ошибке
                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
    })
</script>
</body>
</html>
