{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'mainpage/mainpage.css' %}">
    <link rel="icon" href="https://cdn-icons.flaticon.com/png/512/3059/premium/3059997.png?token=exp=1647850139~hmac=085bb00759e617ba0d2d449f72fa918e">
    <title>FindAz</title>
</head>
<body>
    <div>
        <center>
            <h1>HOLA</h1>
        </center>
    </div>
</body>
</html>